* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

.d-flex {
    display: flex;
}

.absolute {
    position: absolute;
}

body {
    background: black;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.resize {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* @media (max-width: 800px) {
    .resize {
        transform: scale(0.5);
    }
  } */

#login{
    width: 450px;
    height: 405px;
    border: 1px solid blue;
    position: absolute;
    z-index: 1;
}

.plate{
    width: 450px;
    height: 220px;
    background: #C94811;
    border-radius: 5px;
    border-left: 3px solid #F8B298;
    border-top: 3px solid #F8B298;
    border-right: 3px solid #45292C;
    border-bottom: 3px solid #45292C;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.plate > div{
    display: flex;
    flex-direction: column;
    height: 130px;
    align-items: flex-start;
    justify-content: space-between;
    transform: translateY(-8px)
}

.asdf > div:nth-child(1){
    font-size: 30px;
    color: #FFD7B3;
    transform: scaleY(2);
    /* transform: translateY(40px); */
    text-shadow: 2px 5px black;
}
.asdf > div:nth-child(2){
    font-size: 35px;
    color: #FFD7B3;
    transform: scaleY(3);
    text-shadow: 2px 5px black;
}

.stats {
    position: absolute;
    z-index: 1;
    width: 740px;
    height: 520px;
    font-size: 20px;
    color: white;
    margin: 0px auto;
    justify-content: space-between;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.stats__box {
    flex-direction: column;
}

.stats__box:nth-child(2) {
    height: 40px;
    justify-content: flex-end;
    align-items: center;
}

.stats__box:nth-child(3) {
    align-items: center;
}

.stats__box:last-child {
    align-items: flex-end;
}

#main-container {
    background: rgb(144, 150, 200);
    height: 520px;
    width: 9000px;
    position: relative;
    /* border: 10px solid rgb(214, 42, 22); */
}

#screen {
    height: 520px;
    width: 800px;
    border: 1px solid red;
    overflow: hidden;
}


.mario {
    margin-bottom: 8px;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

/* .goomba{
    bottom: 0;
}
.goomba2{
    bottom: 0px;
    left: 500px;
} */

.jump-image {
    background-image: url(assets/img/mario-jump-01.png);
    transition: none;
}

.jump {
    /* transform: translateY(-100px); */
    bottom: 150px;
    transition: bottom 0.5s ease;
}

.right {
    transform: translateX(10px);
}

.dead {
    background-image: url(assets/img/goomba3.png);
    background-size: cover;
}

.walk {
    background-image: url(assets/img/goomba2.png);
}

.hidden {
    display: none;
}

#floor {
    height: 80px;
    width: 800px;
    position: relative;
    overflow: hidden;
}

.floor__section {
    background-image: url(assets/img/floor-tile.png);
    background-repeat: repeat;
    background-size: 40px;
}

.background {
    position: absolute;
    bottom: 0;
}

.pyramid {
    background-image: url(assets/img/ramp.png);
    background-repeat: repeat;
    background-size: 40px;
}

.mario__dead {
    /* transform: translateY(-150px);
    transition: 0.3s ease-out; */
    animation: deadMove 2s ease;
}

@keyframes deadMove {
    0% {transform: translateY(0px);}
    20% {transform: translateY(-100px);}
    25% {transform: translateY(-100px);}
    100% {transform: translateY(200px);}
}